* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url("assets/image/space-background_1.gif"); */
  /* background-image: url(""); */
  /* background-color: rgb(50, 31, 101);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 1600px; */
}

#myVideo {
  position: fixed;
  /* top: 0px;
    left: 0px; */
  /* min-width: 100%;
    min-height: 100%; */
}

.container {
  position: relative;
  width: 400px;
  height: 105px;
  background-color: #fff;
  padding: 28px 32px;
  overflow: hidden;
  border-radius: 18px;
  font-family: "Roboto", sans-serif;
  transition: 0.6s ease-out;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.search {
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search i {
  position: absolute;
  font-size: 28px;
}

.search input {
  color: #0e1111;
  width: 80%;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 32px;
}

.search input::placeholder {
  font-size: 20px;
  font-weight: 500;
  color: #6d6e6e;
  text-transform: capitalize;
}

.search button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  color: #0e1111;
  background-color: rgb(237, 227, 245);
  border-radius: 50%;
  font-size: 22px;
  transition: 0.4s ease;
}

.search button:hover {
  color: #fff;
  background-color: rgb(115, 61, 168);
}

.weather-box {
  text-align: center;
}

.weather-box img {
  width: 60%;
  margin-top: 30px;
}

.weather-box .temperature {
  position: relative;
  color: #0e1111;
  font-size: 4rem;
  font-weight: 800;
  margin-top: 30px;
  margin-left: -16px;
}

.weather-box .temperature span {
  position: absolute;
  margin-left: 4px;
  font-size: 1.5rem;
}

.weather-box .description {
  color: #0e1111;
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
}

.weather-details {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
}

.weather-details .humidity .weather-details .wind {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100px;
}

.weather-details .humidity {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  justify-content: flex-start;
}

.weather-details .wind {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 20px;
  justify-content: flex-end;
}

.weather-details i {
  color: #0e1111;
  font-size: 26px;
  margin-right: 10px;
  margin-top: 6px;
}

.weather-details span {
  color: #0e1111;
  font-size: 22px;
  font-weight: 500;
}

.weather-details p {
  color: #0e1111;
  font-size: 14px;
  font-weight: 500;
}

.copyright {
  margin-top: 35px;
  scale: 0;
  opacity: 0;
  font-size: 12px;
  text-align: center;
  color: rgb(115, 61, 168);
}

.location-not-found {
  width: 100%;
  margin-top: 5px;
  scale: 0;
  opacity: 0;
  display: none;
  flex-direction: column;
  align-items: center;
}

.location-not-found lottie-player {
  width: 70%;
}

.location-not-found p {
  color: #0e1111;
  font-size: 22px;
  font-weight: 500;
}

.weather-box,
.weather-details {
  scale: 0;
  opacity: 0;
}

.fadeIn {
  animation: 0.5s fadeIn forwards;
  animation-delay: 0.5s;
}

@keyframes fadeIn {
  to {
    scale: 1;
    opacity: 1;
  }
}
