* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 400px;
  height: 105px;
  background-color: #fff;
  padding: 28px 32px;
  overflow: hidden;
  border-radius: 18px;
  font-family: "Roboto", sans-serif;
  transition: 0.6s ease-out;
}

.search {
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search i {
  position: absolute;
  font-size: 28px;
}

.search input {
  color: #0e1111;
  width: 80%;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 32px;
}

.search button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  color: #0e1111;
  background-color: rgb(237, 227, 245);
  border-radius: 50%;
  font-size: 22px;
  transition: 0.4s ease;
}

.search button:hover {
  color: #fff;
  background-color: rgb(115, 61, 168);
}

.weather-box {
  text-align: center;
}

.weather-box img {
  width: 60%;
  margin-top: 30px;
}
